<%- include('../partials/admin-header') %>

<section class="content-main">
  <div class="col-8 mx-auto">
    <div class="content-header">
      <div class="col-6">
        <h2 class="content-title card-title">Add new coupon</h2>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form action="/admin/new-coupon" method="POST">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input
                  required
                  name="couponCode"
                  type="text"
                  placeholder="Type here"
                  class="form-control"
                  id="product_name"
                />
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="mb-4">
                    <label for="cat_discount" class="form-label"
                      >Discount percentage</label
                    >
                    <input
                      required
                      name="couponDiscount"
                      type="number"
                      class="form-control"
                      id="cat_discount"
                      max="100"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-4">
                    <label for="cat_discount" class="form-label"
                      >Max Discount</label
                    >
                    <input
                      required
                      name="couponMaxDiscount"
                      type="number"
                      class="form-control"
                      id="cat_discount"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-4">
                    <label for="cat_discount" class="form-label"
                      >Min cart value</label
                    >
                    <input
                      required
                      name="couponMinCartValue"
                      type="number"
                      class="form-control"
                      id="cat_discount"
                    />
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="cat_discount" class="form-label">Expiry date</label>
                <input
                  required
                  class="form-control mb-3"
                  type="date"
                  id="expiryDate"
                  name="expiryDate"
                />
              </div>
              <div class="">
                <button class="btn btn-primary">Publish</button>
                <a href="/admin/coupons" class="btn btn-light rounded"
                  >Cancel</a
                >
              </div>
            </form>
          </div>
        </div>
        <!-- .row // -->
      </div>
      <!-- card body .// -->
    </div>
    <!-- card .// -->
  </div>
</section>
<!-- content-main end// -->

<%- include('../partials/admin-footer') %>
