<%- include('../partials/admin-header') %>
<section>
  <section class="content-main">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Add New Banner</h2>
        </div>
      </div>
      <form
        action="/admin/add-banner"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="col-lg-6">
          <div class="card mb-4 mt-5">
            <div class="card-body">
              <div class="card-body">
                <div class="row gx-2">
                  <div class="mb-4">
                    <label class="form-label">Categories</label>
                    <select class="form-select" name="name">
                      <option>Categories</option>

                      <% category.forEach(category=>{ %>

                      <option><%= category.categoryName %></option>
                      > <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label">Banner description</label>
                <textarea
                  placeholder="Type here"
                  name="description"
                  class="form-control"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>
          <!-- card end// -->
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header">
              <h4>Media</h4>
            </div>
            <div class="card-body">
              <div class="input-upload">
                <img
                  src="../adminAsset/imgs/theme/upload.svg"
                  id="imageView"
                  alt=""
                />
                <input
                  name="Image"
                  multiple
                  class="form-control"
                  type="file"
                  onchange="viewImage2(event)"
                />
              </div>
            </div>
            <div class="col-lg-10">
              <div class="card mb-4">
                <div class="card-body">
                  <button
                    type="submit"
                    class="btn btn-md rounded font-sm hover-up"
                  >
                    Publish
                  </button>
                  <a href="/admin" class="btn btn-light rounded font-md ms-1"
                    >Cancel</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- card end// -->
        </div>
      </form>
    </div>
  </section>
  <!-- content-main end// -->
</section>

<script>
  function viewImage(event) {
    document.getElementById("imageView").src = URL.createObjectURL(
      event.target.files[0]
    );
  }
</script>
<%- include('../partials/admin-footer') %>
